html, body {
  height: 100%;
  background: #ddeefc;
}
body {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}
main {
  margin-top: 25px;
}
h5 {
  color: var(--bs-gray-600);
  font-style: italic;
}
.app {
  background: #fff;
  min-height: 650px;
  padding: 15px 30px;
}
.media-left {
  display: none;
}
.tips-sections{
  
}
.question-block {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
}
.question-block.active,
.question-block.answered {
  display: block;
}
.answered{
  opacity: 0.4;
  pointer-events: none;
}
button.btn{
 margin-bottom: 15px;
}

.card-item__side.-front{
  display: none;
}

.question-block:not(.active, .answered) {
  display: none;
}
.question-block.active .question-number {
  background: #6f5499;
}
.question-block.answered .question-number {
  background: MediumAquaMarine;
}
.question-number {
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 25px;
  display: block;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  background: #ddd;
  margin-right: 10px;
}
.question {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.alert-message-icon{
  max-height: 1.3em;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin-right: 5px;
}
.response-title{
  font-size: 28px;
}
.title-tips {
  text-align: center;
  flex-basis: 100%;
  margin: 25px 0;
}
.tip-small{
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 10px;
  font-weight: normal;
}
.text-warning{
  padding: 15px;
  background-color: #fffdf5;
  border: 1px solid #ffc107;
  border-radius: 10px;
}
.text-warning .tip-small{
  color:#4f3512;
}
.text-success{
  padding: 15px;
  background-color: #def9e1;
  border: 1px solid #014932;
  border-radius: 10px;
}
.text-success .tip-small{
  color: #014932;
}

.card-section-smallText{
  font-size: 16px;
  font-weight: normal;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.card-section-title{
  font-size: 30px;
}

.center {
  border: 5px solid;
  display: flex;
  justify-content: center;
}
.center-botton{
  text-align: center;
}
.responses{
  font-size:18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.footer{
  text-align: center;
  color: #aaa;
}
.footer a{
  text-decoration: none;
  color: #aaa;
  opacity: 0.5;
}

/* Card CSS */

.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  margin: 20px 0;
  padding: 15px;
  display:none;
}
.card-section-title{
  text-align: center;
  flex-basis: 100%;
  margin: 25px 0;
}
.active-section{
  border: 1px solid #ddd;
  display: flex;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  padding: 50px 15px;
}
@media screen and (max-width: 700px), (max-height: 500px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.card-form {
  max-width: 570px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .card-form {
    margin: 0 auto;
  }
}

.card-item {
  max-width: 430px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item {
    max-width: 310px;
    height: 220px;
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .card-item {
    height: 180px;
  }
}
.card-item__side {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  transform: perspective(2000px) rotateY(0) rotateX(0) rotate(0);
  transform-style: preserve-3d;

  backface-visibility: hidden;
  height: 100%;
  width: 317px;
  height: 200px;
  margin-bottom: 25px;
}
.card-item__bg {
  max-width: 100%;
  display: block;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-item__cover.nu {
  background: rgb(130, 10, 209);
  background: linear-gradient(
    167deg,
    rgba(130, 10, 209, 1) 0%,
    rgba(149, 85, 190, 1) 100%
  );
}
.card-item__cover.rappi {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    167deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(49, 49, 49, 1) 65%,
    rgba(88, 88, 88, 1) 100%
  );
}
.card-item__cover.stori {
  background: rgb(41, 105, 127);
  background: linear-gradient(
    137deg,
    rgba(41, 105, 127, 1) 0%,
    rgba(99, 210, 195, 1) 100%
  );
}
.card-item__cover.heybanco {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    167deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(49, 49, 49, 1) 65%,
    rgba(88, 88, 88, 1) 100%
  );
  /*
  En mi opinion me gusto mas la coleción 2021 que 2022.
  2021: https://www.brands.mx/project/701-hey-banco
  2022: https://www.brands.mx/project/747-hey-banco
  */
}
.card-item__cover.banregio {
  background: rgb(255,107,0);
  background: linear-gradient(54deg, rgba(255,107,0,1) 29%, rgba(249,122,57,1) 89%);
  /*
  En mi opinion me gusto mas la coleción 2021 que 2022.
  2021: https://www.brands.mx/project/701-hey-banco
  2022: https://www.brands.mx/project/747-hey-banco
  */
}
.card-item__cover.banamex {
  background: rgb(0, 52, 84);
  background: linear-gradient(
    145deg,
    rgba(0, 52, 84, 1) 0%,
    rgb(10, 72, 111) 79%
  );
}
.card-item__cover.hsbc {
  background: rgb(11, 11, 11);
  background: linear-gradient(
    145deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(28, 28, 28, 1) 80%,
    rgba(79, 79, 79, 1) 83%,
    rgba(11, 11, 11, 1) 88%
  );
}

.card-item__cover.amex_gold {
  background: rgb(193, 176, 111);
  background: linear-gradient(
    145deg,
    rgba(193, 176, 111, 1) 33%,
    rgba(233, 225, 191, 1) 100%
  );
}
.card-item__chip.amex_gladiator {
  width: 110px;
  left: -1%;
  width: 193px;
  position: fixed;
  top: -14px;
  opacity: 0.2;
  filter: brightness(0.7) invert(1);
}
.card-item__content.amex {
  position: relative;
  z-index: 1;
}

.card-item__cover {
  height: 100%;

  position: absolute;
  height: 100%;

  left: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.card-item__cover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-item__holder {
  font-size: 18px;
  margin-bottom: 6px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .card-item__holder {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.card-item__name {
  font-size: 12px;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .card-item__name {
    font-size: 12px;
  }
}

.card-item__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .card-item__top {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__top {
    margin-bottom: 15px;
  }
}
.card-item__chip {
  width: 60px;
}
@media screen and (max-width: 480px) {
  .card-item__chip {
    width: 50px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__chip {
    width: 40px;
  }
}
.card-item__type {
  height: 45px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 100px;
  margin-left: auto;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item__type {
    height: 40px;
    max-width: 90px;
  }
}
@media screen and (max-width: 360px) {
  .card-item__type {
    height: 30px;
  }
}
.card-item__typeImg {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
  object-position: top right;
}
.card-item__wrapper {
  padding: 25px 15px;
  position: relative;
  z-index: 4;
  height: 100%;

  user-select: none;
}
@media screen and (max-width: 480px) {
  .card-item__wrapper {
    padding: 20px 10px;
  }
}

.card-item__side.-front:hover {
  transition-duration: 0.2s;
  transform: scale(1.05) translateZ(0);
}

.card-item__side.-front:hover {
  transition-duration: 0.2s;
  transform: scale(1.05) translateZ(0);
}

.card-item__side:hover {
  transform: scale(1.05) translateZ(0);
}

.card-item__side:hover .card-item__side:not(:hover) {
  opacity: 0.5;
}
/* END Card CSS */

/* POPUP */
.popup {
  position: relative;

  display: inline-block;
  border-bottom: 0px dotted black;
}

.popup .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #f7f7f7;
  color: #000;
  text-align: center;
  padding: 6px 0;
  border-radius: 7px;
  border-color: #777;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 16px;
  box-shadow: 0 11px 30px 0 rgb(14 42 90 / 55%);
}

/* Tooltip arrow */
.popup .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.popup:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* End POPOVER */
